.intro {
  font-style: italic;
  font-size: large;
}

#starting {
  font-style: bold;
  background-color: darkolivegreen;
}

img {
  float: right;
}

.sidebar {
  width: 30%;
  float: right;
  background-color: yellow;
}
.column {
  width: 300px;
  float: left;
}
